GOOGLE_ACCOUNT=hotoku@inctore.com
APPLICATION_DEFAULT_CREDENTIALS=~/.config/gcloud/legacy_credentials/${GOOGLE_ACCOUNT}/adc.json
GCP_PROJECT=inctore-streaming
CLOUDSDK_ACTIVE_CONFIG_NAME=inctore--streaming


if ! gcloud config configurations activate ${CLOUDSDK_ACTIVE_CONFIG_NAME}; then
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
fi


gcloud config set account ${GOOGLE_ACCOUNT}
gcloud config set project ${GCP_PROJECT}
