<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>info.hotoku.streaming</string>
	<key>Program</key>
	<string>{{pwd}}/run</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{pwd}}/server.err</string>
	<key>StandardOutPath</key>
	<string>{{pwd}}/server.out</string>
	<key>WorkingDirectory</key>
	<string>{{pwd}}</string>
</dict>
</plist>
